:host {

  img {
    width: 42rem;
    @media (max-width: 1199px) {
      width: 30rem;
    }
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  .text-md-center {
    @media (max-width: 991px) {
      text-align: center;
    }
  }

  ::ng-deep {
    .p-tag-icon {
      font-size: 1rem;
    }
  }
}