<div class="container flex justify-content-between lg:flex-nowrap flex-wrap gap-4 pt-7">
  <div class="xl:pt-5 pt-3 text-md-center">
    <p-tag styleClass="p-2 px-3 text-sm" icon="pi pi-bolt" [value]="'home.landing.megaSaleMadness' | translate"  [rounded]="true" />
    <h3 class="text-5xl my-3">{{ 'home.landing.sparkYourSavings' | translate }}</h3>
    <p class="line-height-3 mb-3">{{ 'home.landing.newElectronicsDeals' | translate }}</p>
    <p-button dir="ltr" [label]="'home.shopNow' | translate" icon="pi pi-arrow-up-right" [rounded]="true" iconPos="right" />
  </div>

  <picture class="lg:mt-0 mt-6 mx-auto">
    <img src="landing.png" alt="Landing">
  </picture>
</div>
