:root {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  --font-family: "Inter var", sans-serif;
  --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --text-color: #ffffff;
  --text-color-secondary: #a1a1aa;
  --primary-color: #a78bfa;
  --primary-color-text: #020617;
  --surface-0: #18181b;
  --surface-50: #27272a;
  --surface-100: #3f3f46;
  --surface-200: #52525b;
  --surface-300: #71717a;
  --surface-400: #a1a1aa;
  --surface-500: #d4d4d8;
  --surface-600: #e4e4e7;
  --surface-700: #f4f4f5;
  --surface-800: #fafafa;
  --surface-900: #ffffff;
  --gray-0: #ffffff;
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --content-padding: 1.125rem;
  --inline-spacing: 0.5rem;
  --border-radius: 6px;
  --surface-ground: #09090b;
  --surface-section: #18181b;
  --surface-card: #18181b;
  --surface-overlay: #18181b;
  --surface-border: #27272a;
  --surface-hover: rgba(255, 255, 255, 0.03);
  --focus-ring: none;
  --maskbg: rgba(0, 0, 0, 0.4);
  --highlight-bg: rgba(167, 139, 250, 0.16);
  --highlight-text-color: rgba(255, 255, 255, 0.87);
  --p-anchor-gutter: 2px;
  color-scheme: dark;
}