<div class="text-center mb-5">
  <img src="logo.png" alt="Image" height="50" class="mb-3">
  <p class="m-0 flex justify-content-center gap-2 flex-wrap text-600 font-medium line-height-3">{{'auth.verifyResetCode' | translate}}</p>
</div>

@if (errorMsg()) {
  <p-messages [value]="[{ severity: 'error', detail: errorMsg() }]" [enableService]="false" dir="ltr" />
}

<form [formGroup]="resetCodeForm">
  <div class="flex justify-content-center mb-3">
    <p-inputOtp formControlName="resetCode" [length]="6" />
  </div>

  <p-button type="submit" (onClick)="onResetCode()" [disabled]="resetCodeForm.controls.resetCode.invalid" [loading]="loading()" [label]="'auth.submit' | translate" icon="pi pi-send" styleClass="w-full" />
</form>