:host {
  display: block;
  padding-top: .6rem;
  padding-bottom: .6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--surface-section);
  z-index: 1000;

  box-shadow: 0 2px 4px -1px var(--surface-200);


  .wishlist-link, .cart-link {
    > span {
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      background-color: var(--surface-200);
      color: var(--surface-600);
    }

    &:hover {
      > span {
        background-color: var(--surface-300);
        color: var(--surface-900);
      }
    }
  }

  .cart-link {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
