<div class="container flex justify-content-center md:justify-content-between align-items-center gap-3 flex-wrap">
  <ul class="list-none m-0 p-0 flex flex-wrap justify-content-center">
    <li>
      <a routerLink="/" routerLinkActive="text-primary" [routerLinkActiveOptions]="{exact: true}" class="block text-sm px-2 py-3">{{ 'header.navbar.home' | translate }}</a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="text-primary" class="block text-sm px-2 py-3">{{ 'public.products' | translate }}</a>
    </li>
    <li>
      <a routerLink="/categories" routerLinkActive="text-primary" class="block text-sm px-2 py-3">{{ 'public.categories' | translate }}</a>
    </li>
    <li>
      <a routerLink="/brands" routerLinkActive="text-primary" class="block text-sm px-2 py-3">{{ 'public.brands' | translate }}</a>
    </li>
    <li>
      <a routerLink="/orders" routerLinkActive="text-primary" class="block text-sm px-2 py-3">{{ 'header.navbar.orders' | translate }}</a>
    </li>
  </ul>

  <div class="flex gap-5 align-items-center">
    <a routerLink="/wishlist" class="wishlist-link">
      <span pBadge value="0" class="tra-2 text-sm flex-center"><i class="pi pi-heart"></i></span>
    </a>

    <a routerLink="/card" class="cart-link">
      <span pBadge value="0" class="tra-2 flex-center"><i class="pi pi-shopping-cart"></i></span>
      <div>
        <span class="text-13px font-light text-500">{{ 'header.navbar.yourCart' | translate }}</span>
        <p class="mb-0 mt-1 text-sm font-bold text-900">$0.00</p>
      </div>
    </a>
  </div>
</div>