<div class="text-center mb-5">
  <img src="logo.png" alt="Image" height="50" class="mb-3">
  <p class="m-0 flex justify-content-center gap-2 flex-wrap text-600 font-medium line-height-3">{{ 'auth.provideEmailAndNewPassword' | translate }}</p>
</div>

@if (errorMsg()) {
  <p-messages [value]="[{ severity: 'error', detail: errorMsg() }]" [enableService]="false" dir="ltr" />
}

<form [formGroup]="resetPasswordForm">
  <app-validation-field [fieldControl]="resetPasswordForm.controls.email" [validations]="[{name: 'required', msg: 'auth.emailIsRequired'}, {name: 'pattern', msg: 'auth.enterValidEmail'}]" [label]="{value: 'auth.email', for: 'reset-password-email'}">
    <input formControlName="email" id="reset-password-email" type="email" class="w-full ng-dirty mb-1" [class.ng-invalid]="resetPasswordForm.controls.email.invalid && resetPasswordForm.controls.email.touched" [placeholder]="'auth.emailAddress' | translate" pInputText />
  </app-validation-field>

  <app-validation-field [fieldControl]="resetPasswordForm.controls.newPassword" [validations]="[{name: 'required', msg: 'auth.passwordIsRequired'}, {name: 'pattern', msg: 'auth.passwordMustUppercase'}]" [label]="{value: 'auth.newPassword', for: 'reset-password-input'}">
    <p-password inputId="reset-password-input" styleClass="w-full" formControlName="newPassword" [feedback]="false" [toggleMask]="true" [placeholder]="'auth.newPassword' | translate" class="w-full ng-dirty mb-1" [class.ng-invalid]="resetPasswordForm.controls.newPassword.invalid && resetPasswordForm.controls.newPassword.touched" />
  </app-validation-field>

  <p-button type="submit" (onClick)="onResetPassword()" [disabled]="resetPasswordForm.invalid" [loading]="loading()" [label]="'auth.submit' | translate" icon="pi pi-send" styleClass="w-full" />
</form>