<p-breadcrumb class="max-w-full mb-5" styleClass="surface-ground" [home]="{ icon: 'pi pi-home', routerLink: '/' }" dir="ltr"
  [model]="[
    { label: 'public.products' | translate, routerLink: '/products' },
    { label: product()?.title?.split(' ')?.slice(0, 3)?.join(' ')}
  ]"
/>

@if (errorMsg()) {
  <p-messages [value]="[{ severity: 'error', detail: errorMsg() }]" [enableService]="false" [closable]="false" />
}@else {
<div class="flex gap-4 py-6 lg:flex-nowrap flex-wrap justify-content-center">
  @if (product() === null) {
    <div class="max-w-full w-25rem h-26rem" data-aos="fade-up" data-aos-delay="50">
      <p-skeleton width="100%" height="100%"></p-skeleton>
    </div>

    <div class="pt-4 product-content flex-grow-1 lg:flex-auto" data-aos="fade-up" data-aos-delay="200">
      <p-skeleton width="70%" height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="100%" height="4rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="40%" height="1rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="40%" height="1rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="30%" height="1rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="50%" height="1rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="25%" height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="40%" height="1rem" styleClass="mb-2"></p-skeleton>
      <div class="flex gap-2">
        <p-skeleton width="10rem" height="2.5rem"></p-skeleton>
        <p-skeleton width="2.5rem" height="2.5rem" styleClass="ml-2"></p-skeleton>
      </div>
    </div>
  } @else {

    <p-galleria [value]="product()?.images" thumbnailsPosition="left" [numVisible]="5" data-aos="fade-up" data-aos-delay="50">
      <ng-template pTemplate="previousthumbnailicon"><i class="pi pi-angle-up"></i></ng-template>
      <ng-template pTemplate="nextthumbnailicon"><i class="pi pi-angle-down"></i></ng-template>
      <ng-template pTemplate="item" let-item>
        <p-image [src]="item" alt="Image" styleClass="w-full" [preview]="true" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item" class="w-full h-3rem" />
        </div>
      </ng-template>
    </p-galleria>

    <div class="pt-4 product-content flex-grow-1 lg:flex-auto" data-aos="fade-up" data-aos-delay="200">
      <p class="mb-3 text-2xl font-semibold line-height-2 w-fit">{{ product()?.title }}</p>
      <p class="font-light text-700">{{ product()?.description }}</p>
      <p class="mt-0 flex gap-1 font-medium">{{'public.brand' | translate}}: <span class="font-light text-700">{{ product()?.brand?.name }}</span></p>
      <p class="mt-0 flex gap-1 font-medium">{{'public.category' | translate}}: <span class="font-light text-700">{{ product()?.category?.name }}</span></p>
      <div class="flex align-items-center mb-3">
        <span class="text-900 font-bold block">{{ product()?.ratingsAverage }}</span>
        <i class="pi pi-star-fill text-yellow-500 ml-1 mr-2"></i>
        <span class="text-400 text-sm">({{ product()?.ratingsQuantity + ' ' + ('product.reviews' | translate) }})</span>
      </div>
      <div class="flex gap-3 mb-4 text-sm">
        <span class="text-red-400">{{ product()?.sold + ' ' + ('product.sold' | translate) }}</span>
        <span class="text-green-700 flex gap-1 align-items-center"><i class="pi pi-check text-xs"></i>{{ product()?.quantity + ' ' + ('product.inStock' | translate) }}</span>
      </div>
      <p class="font-semibold text-2xl mt-0 mb-2">{{ 'EGP ' + product()?.price }}</p>
      <span class="text-800 text-xs flex gap-2 align-items-center border-1 border-300 border-round-2xl mb-3 px-2 py-1 w-fit"><i class="pi pi-truck text-xs"></i> {{ 'product.freeDelivery' | translate }}</span>
      <div class="flex gap-2 align-items-center">
        <p-button [label]="'product.addToCart' | translate" [rounded]="true" icon="pi pi-shopping-cart" />
        <p-button [pTooltip]="'product.favorite' | translate" tooltipStyleClass="text-13px" tooltipPosition="top" [rounded]="true" icon="pi pi-heart" severity="secondary" />
      </div>
    </div>
  }
</div>

<app-carousel-products [products]="relatedProducts()" title="Related Products" />
}
