<div class="hover-style-div tra-2">
<div class="relative p-3 surface-border surface-section" data-aos="zoom-in"
  [ngClass]="{
    'border-1 border-round': layout() === 'grid',
    'flex align-items-center gap-3 border-top-1 flex-wrap': layout() === 'list'
  }"
>
  <div class="relative mx-auto" [class.mb-3]="layout() === 'grid'">
    <a [routerLink]="['/product-details', product().id]">
      <img [src]="product().imageCover" [alt]="product().title" [class]="'border-round ' + (layout() === 'grid' ? 'w-full' : 'w-10rem')" />
    </a>
    @let randomNum = +product().sold.toString().slice(-1);
    <p-tag [value]=" (randomNum < 3) ? '-20%' : randomNum < 7 ? '-15%' : ('public.new' | translate)" [rounded]="true" [severity]="randomNum > 6 ? 'success' : 'danger'" class="tag-absolute" />
  </div>

  <div [class.flex-grow-1]="layout() === 'list'">
    <span class="text-xs text-primary">{{ product().category.name }}</span>
    <a [routerLink]="['/product-details', product().id]" class="block w-fit">
      <p class="mb-2 mt-2 text-sm line-height-3 w-fit">{{ product().title.split(' ').slice(0, 10).join(" ") }}</p>
    </a>

    <div class="flex align-items-center mb-3">
      <span class="text-900 font-medium text-xs">{{ product().ratingsAverage }}</span>
      <i class="pi pi-star-fill text-yellow-500 ml-1 mr-2 text-13px"></i>
      <span class="text-xs text-400">({{ product().ratingsQuantity + ' ' + ('product.reviews' | translate) }})</span>
    </div>

    <div class="font-semibold text-lg mb-2">{{ 'EGP ' + product().price }}</div>
  </div>

  <div class="flex gap-2"
    [ngClass]="{
      'justify-content-between align-items-center': layout() === 'grid',
      'align-items-end flex-column-reverse': layout() === 'list'
    }"
  >
    <span class="text-800 text-xs flex gap-2 align-items-center border-1 border-300 border-round-2xl px-2 py-1"><i class="pi pi-truck text-xs"></i> {{ 'product.freeDelivery' | translate }}</span>
    <span>
      <p-button [pTooltip]="'product.favorite' | translate" tooltipStyleClass="text-13px" tooltipPosition="top" [rounded]="true" icon="pi pi-heart" severity="secondary" [class]="layout() === 'grid' ? 'wishlist-icon' : 'mr-2'" />
      <p-button [pTooltip]="'product.addToCart' | translate" tooltipStyleClass="text-13px" tooltipPosition="top" [rounded]="true" icon="pi pi-shopping-cart" />
    </span>
  </div>
</div>
</div>
