<p-dataView #dv [value]="sortedProducts()" [layout]="layout()" [rows]="12" [paginator]="true" dir="ltr">
  <ng-template pTemplate="header">
    <div class="flex justify-content-between flex-wrap gap-3 align-items-center" dir="auto">
      <span class="flex-grow-1 text-500 font-medium">{{ ('products.showing' | translate) + ' ' + dv.rows + ' ' + ('products.of' | translate) + ' ' + dv._value?.length + ' ' + ('products.products' | translate) }}</span>

      <div class="flex w-full md:w-auto justify-content-between gap-3">
        <p-dropdown [showClear]="!!sortKey()" (onClear)="resetSort()" [options]="sortOptions" [(ngModel)]="sortKey" (onChange)="onSortChange($event)" [placeholder]="'products.sortingItems' | translate" />
        <p-dataViewLayoutOptions dir="ltr" />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="list" let-products>
    <div class="grid grid-nogutter">
      @for (product of products; track product._id) {
        <div class="col-12">
          <app-product-card [product]="product" layout="list" />
        </div>
      }
    </div>
  </ng-template>

  <ng-template let-product pTemplate="grid" let-products>
    <div class="grid grid-nogutter">
      @for (product of products; track product._id) {
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 p-2">
          <app-product-card [product]="product" />
        </div>
      }
    </div>
  </ng-template>
</p-dataView>
