<div class="container flex justify-content-center sm:justify-content-between align-items-center flex-wrap gap-2 py-1">
  <ul class="list-none p-0 m-0 flex gap-4 w-full md:w-auto flex justify-content-center">
    <li><a routerLink="/faq" routerLinkActive="text-primary-300"  [routerLinkActiveOptions]="{exact: true}" class="text-13px block nav-link py-1">{{ 'header.top.faqs' | translate }}</a></li>
    <li><a routerLink="/contact" routerLinkActive="text-primary-300" class="text-13px block nav-link py-1">{{ 'header.top.helpAndContact' | translate }}</a></li>
  </ul>

  <a routerLink="/products" class="flex align-items-center gap-1 text-13px text-red-400">
    <i class="pi pi-bolt"></i> {{ 'header.top.sale' | translate }} <img src="sale.png" alt="Sale" class="sale-img">
  </a>

  <div class="flex gap-3 align-items-center">
    <p-dropdown [options]="languageService.availableLanguages" [ngModel]="languageService.currentLanguage()" (onChange)="onSelectLanguage($event)" placeholder="Select a Language" variant="filled">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2">
          <img [src]="'flags/'+languageService.currentLanguage()+'.png'" class="flag" style="width: 18px" />
          <div>{{ languageService.currentLanguage() | translate }}</div>
        </div>
      </ng-template>
      <ng-template let-lang pTemplate="item">
        <div class="flex align-items-center gap-2">
            <img [src]="'flags/'+lang+'.png'" class="flag" style="width: 18px" />
            <div>{{ lang | translate }}</div>
        </div>
      </ng-template>
    </p-dropdown>

    <p-button [icon]="themeService.theme() === 'light' ? 'pi pi-sun' : 'pi pi-moon'" (onClick)="themeService.changeTheme()" size="small" />
  </div>
</div>