<app-landing />

<div class="container">

<div class="p-8 shadow-1 mt-5 border-round">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas saepe
    voluptatibus doloribus est quaerat quasi facilis similique, porro maxime
    dolores quae pariatur ab inventore eaque praesentium odit, vero iusto.
    Blanditiis.
  </p>
  <h2>
    This is a header
  </h2>
</div>
<div class="surface-ground p-8 shadow-1 mt-5 border-round">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas saepe
    voluptatibus doloribus est quaerat quasi facilis similique, porro maxime
    dolores quae pariatur ab inventore eaque praesentium odit, vero iusto.
    Blanditiis.
  </p>
  <h2>
    This is a header
  </h2>
</div>
<div class="surface-ground p-8 shadow-1 mt-5 border-round">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas saepe
    voluptatibus doloribus est quaerat quasi facilis similique, porro maxime
    dolores quae pariatur ab inventore eaque praesentium odit, vero iusto.
    Blanditiis.
  </p>
  <h2>
    This is a header
  </h2>
</div>
<div class="surface-ground p-8 shadow-1 mt-5 border-round">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas saepe
    voluptatibus doloribus est quaerat quasi facilis similique, porro maxime
    dolores quae pariatur ab inventore eaque praesentium odit, vero iusto.
    Blanditiis.
  </p>
  <h2>
    This is a header
  </h2>
</div>

</div>