@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
:host {

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color:  var(--surface-ground);
    display: flex;
    justify-content: center;
    align-items: center;

  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    color: var(--primary-color);
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
}