<div class="surface-ground border-top-1 border-200">
  <div class="container">
    <app-services-area />
    <app-links-area />
  </div>
</div>

<div class="py-5 border-top-1 border-200">
  <div class="container flex justify-content-between flex-wrap gap-4">
    <span class="text-400">{{ 'footer.allRightsReservedBy' | translate }} <a class="text-primary underline" target="_blank" href="https://github.com/moWalid3">MoWalid</a></span>
    <img src="footer/payment.svg" class="w-20rem max-w-full" alt="Payment">
  </div>
</div>