:host {
  display: block;

  .delete-product-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  .count-number {
    display: inline-block;
    text-align: center;
    width: 2rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }

  ::ng-deep {
    .handle-size {
      width: 1.5rem;
      height: 1.5rem;
    }
    .delete-product-button .p-button-icon {
      font-size: 12px;
    }
    .checkout-btn .p-button-icon  {
      font-size: 1.25rem;
    }
  }
}